# Electron 镜像
electronMirror=https://registry.npmmirror.com/-/binary/electron/
electronBuilderBinariesMirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/

# npm 包源
registry=https://registry.npmmirror.com

# node-gyp 下载 Node 头文件镜像
disturl=https://npmmirror.com/mirrors/node

# better-sqlite3 预编译二进制镜像，跳过本地编译
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3